<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>blogDetails1-test</title>
</head>
<body>
    <h1 th:text="${blogDetailsList1.blogContent}">Hello World</h1>
    <h1 th:text="${blogDetailsList1.createTime}">Hello World</h1>
    <h1 th:text="${blogDetailsList1.collectNum}">Hello World</h1>
    <h1 th:text="${blogDetailsList1.likesNum}">Hello World</h1>
    <h1 th:text="${blogDetailsList1.commentNum}">Hello World</h1>
    <h1 th:text="${blogDetailsList1.forwardNum}">Hello World</h1>
    <h1 th:text="${blogDetailsList1.username}">Hello World</h1>
    <h1 th:text="${blogDetailsList1.avatar}">Hello World</h1>
</body>
</html>

<!--Left(blogContent,10)-->