<!doctype html>
<html lang="en">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type='text/javascript'>

        window.onload = function () {
            searchTheBlog()
            searchTheBlog()

        }

    </script>
</head>

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Simplest Social Network HTML Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simplest is - Professional A unique and beautiful collection of UI elements">
    <link rel="icon" href="http://localhost:8080/assets/images/favicon.png">

    <!-- CSS 
    ================================================== -->
    <link rel="stylesheet" href="http://localhost:8080/assets/css/style.css">
    <link rel="stylesheet" href="http://localhost:8080/assets/css/uikit.css">
    <link rel="stylesheet" href="http://localhost:8080/assets/css/uikit.css">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="http://localhost:8080/assets/css/icons.css">
    <script src="https://kit.fontawesome.com/815e388c50.js" crossorigin="anonymous"></script>

    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body>
 

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- sidebar -->
            <div class="main_sidebar">
                <div class="side-overlay" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></div>

                <!-- sidebar header -->
                <div class="sidebar-header">
                    <!-- Logo-->
                    <div id="logo">
                        <a href="feeds.html"> <img src="http://localhost:8080/assets/images/logo-light.png" alt=""></a>
                    </div>
                    <span class="btn-close" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></span>
                </div>

                <!-- sidebar Menu -->
                <div class="sidebar">
                    <div class="sidebar_innr" data-simplebar>

                        <div class="sections">
                            <ul>
                                <li  >
                                    <a href="/index/ALL">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="#047cac" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                                        </svg>
                                        Home </a>
                                </li>


                                <li>
                                    <a href="/userinfo">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="#8d73cc"
                                                  d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zm-1-2V4H5v16h14zM7 6h4v4H7V6zm0 6h10v2H7v-2zm0 4h10v2H7v-2zm6-9h4v2h-4V7z">
                                            </path>
                                        </svg> profile </a>
                                </li>
                                <li class="sl_side_post_fltr">
                                    <a href="/searchpage">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="#b2c17c"
                                                  d="M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M10,4A4,4 0 0,1 14,8C14,8.91 13.69,9.75 13.18,10.43C12.32,10.75 11.55,11.26 10.91,11.9L10,12A4,4 0 0,1 6,8A4,4 0 0,1 10,4M2,20V18C2,15.88 5.31,14.14 9.5,14C9.18,14.78 9,15.62 9,16.5C9,17.79 9.38,19 10,20H2Z">
                                            </path>
                                        </svg> Search </a>
                                </li>
                            </ul>
                            <a href="#" class="button secondary px-5 btn-more"
                               uk-toggle="target: #more-veiw; animation: uk-animation-fade">
                                <span id="more-veiw">See More <i class="icon-feather-chevron-down ml-2"></i></span>
                                <span id="more-veiw" hidden>See Less<i class="icon-feather-chevron-up ml-2"></i> </span>
                            </a>
                        </div>




                        <!--  Optional Footer -->
                        <div id="foot">

                            <ul>
                                <li> <a href="http://www.cs.cqu.edu.cn/"> About Us </a></li>
                            </ul>


                            <div class="foot-content">
                                <p>© 2021     <strong> CQU Simplest Blog </strong>.</p>
                                <p> All Rights Reserved. </p>
                                <p>联系我们：65102502</p>
                                <p>重庆市沙坪坝区重庆大学虎溪校区</p>
                            </div>

                        </div>



                    </div>


                </div>

            </div>
       <!-- contents -->
       <div class="main_content">

            <!-- header -->
       <div id="main_header">
           <header>
               <div class="header-innr">

                   <!-- Logo-->
                   <div class="header-btn-traiger is-hidden" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible">
                       <span></span></div>

                    <!-- Logo-->
                    <div id="logo">
                       <a href="feeds.html"> <img src="http://localhost:8080/assets/images/logo.png" alt=""></a>
                       <a href="feeds.html"> <img src="http://localhost:8080/assets/images/logo-light.png" class="logo-inverse"
                               alt=""></a>
                   </div>

                   <!-- form search-->
<!--                   <div class="head_search">-->
<!--                       <form>-->
<!--                           <div class="head_search_cont">-->
<!--                               <input value="" type="text" class="form-control"-->
<!--                                   placeholder="Search for Friends , Videos and more.." autocomplete="off">-->
<!--                               <i class="s_icon uil-search-alt"></i>-->
<!--                           </div>-->

<!--                           &lt;!&ndash; Search box dropdown &ndash;&gt;-->
<!--                           <div uk-dropdown="pos: top;mode:click;animation: uk-animation-slide-bottom-small"-->
<!--                               class="dropdown-search display-hidden">-->
<!--                               &lt;!&ndash; User menu &ndash;&gt;-->

<!--                               <ul class="dropdown-search-list">-->
<!--                                   <li class="list-title"> Recent Searches </li>-->
<!--                                   <li> <a href="#">-->
<!--                                           <img src="http://localhost:8080/assets/images/avatars/avatar-2.jpg" alt="">-->
<!--                                           <p> Erica Jones <span> 2 hours ago </span> </p>-->
<!--                                       </a>-->
<!--                                   </li>-->
<!--                                   <li> <a href="#">-->
<!--                                           <img src="http://localhost:8080/assets/images/avatars/avatar-3.jpg" alt="">-->
<!--                                           <p> Adrian Mohani <span> 13 days ago </span> </p>-->
<!--                                       </a>-->
<!--                                   </li>-->
<!--                                   <li> <a href="#">-->
<!--                                           <img src="http://localhost:8080/assets/images/avatars/avatar-4.jpg" alt="">-->
<!--                                           <p> Mountain Riders <span> 3 days ago <span>Group</span> </span> </p>-->
<!--                                       </a>-->
<!--                                   </li>-->
<!--                                   <li> <a href="#">-->
<!--                                           <img src="http://localhost:8080/assets/images/avatars/avatar-5.jpg" alt="">-->
<!--                                           <p> Coffee Addicts <span> 12 days ago <span> Page</span></span> </p>-->
<!--                                       </a>-->
<!--                                   </li>-->
<!--                                   <li class="menu-divider"></li>-->
<!--                                   <li class="list-footer"> <a href="your-history.html"> Searches History </a>-->
<!--                                   </li>-->
<!--                               </ul>-->

<!--                           </div>-->


<!--                       </form>-->
<!--                   </div>-->

                   <!-- user icons -->
                   <div class="head_user">




                       <!-- browse apps dropdown -->


                       <!-- Message  notificiation dropdown -->
                       <a href="#" class="opts_icon" uk-tooltip="title: Messages ; pos: bottom ;offset:7">
                           <img src="http://localhost:8080/assets/images/icons/chat.svg" alt=""> <span>4</span>
                       </a>

                       <!-- Message  notificiation dropdown -->
                       <div uk-dropdown="mode:click ; animation: uk-animation-slide-bottom-small"
                           class="dropdown-notifications display-hidden">

                           <!-- notification contents -->
                           <div class="dropdown-notifications-content" data-simplebar>

                               <!-- notivication header -->
                               <div class="dropdown-notifications-headline">
                                   <h4>Messages</h4>
                                   <a href="#">
                                       <i class="icon-feather-settings"
                                           uk-tooltip="title: Message settings ; pos: left"></i>
                                   </a>
                               </div>

                               <!-- notiviation list -->
                               <ul>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar status-online">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-2.jpg" alt="">
                                           </span>
                                           <div class="notification-text notification-msg-text">
                                               <strong>Jonathan Madano</strong>
                                               <p>Thanks for The Answer ... <span class="time-ago"> 2 h </span> </p>

                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-3.jpg" alt="">
                                           </span>
                                           <div class="notification-text notification-msg-text">
                                               <strong>Stella Johnson</strong>
                                               <p> Alex will explain you how ... <span class="time-ago"> 3 h </span>
                                               </p>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar status-online">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-1.jpg" alt="">
                                           </span>
                                           <div class="notification-text notification-msg-text">
                                               <strong>Alex Dolgove</strong>
                                               <p> Alia just joined Messenger! <span class="time-ago"> 3 h </span> </p>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar status-online">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-4.jpg" alt="">
                                           </span>
                                           <div class="notification-text notification-msg-text">
                                               <strong>Adrian Mohani</strong>
                                               <p>Thanks for The Answer ... <span class="time-ago"> 2 h </span> </p>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-2.jpg" alt="">
                                           </span>
                                           <div class="notification-text notification-msg-text">
                                               <strong>Jonathan Madano</strong>
                                               <p>Thanks for The Answer ... <span class="time-ago"> 2 h </span> </p>

                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-3.jpg" alt="">
                                           </span>
                                           <div class="notification-text notification-msg-text">
                                               <strong>Stella Johnson</strong>
                                               <p> Alex will explain you how ... <span class="time-ago"> 3 h </span>
                                               </p>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-1.jpg" alt="">
                                           </span>
                                           <div class="notification-text notification-msg-text">
                                               <strong>Alex Dolgove</strong>
                                               <p> Alia just joined Messenger! <span class="time-ago"> 3 h </span> </p>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-4.jpg" alt="">
                                           </span>
                                           <div class="notification-text notification-msg-text">
                                               <strong>Adrian Mohani</strong>
                                               <p>Thanks for The Answer ... <span class="time-ago"> 2 h </span> </p>
                                           </div>
                                       </a>
                                   </li>
                               </ul>

                           </div>
                           <div class="dropdown-notifications-footer">
                               <a href="#"> See all in Messages</a>
                           </div>


                       </div>


                       <!-- notificiation icon  -->
                       <a href="#" class="opts_icon" uk-tooltip="title: Notifications ; pos: bottom ;offset:7">
                           <img src="http://localhost:8080/assets/images/icons/bell.svg" alt=""> <span>3</span>
                       </a>


                       <!-- notificiation dropdown -->
                       <div uk-dropdown="mode:click ; animation: uk-animation-slide-bottom-small"
                           class="dropdown-notifications display-hidden">

                           <!-- notification contents -->
                           <div class="dropdown-notifications-content" data-simplebar>

                               <!-- notivication header -->
                               <div class="dropdown-notifications-headline">
                                   <h4>Notifications </h4>
                                   <a href="#">
                                       <i class="icon-feather-settings"
                                           uk-tooltip="title: Notifications settings ; pos: left"></i>
                                   </a>
                               </div>

                               <!-- notiviation list -->
                               <ul>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-2.jpg" alt="">
                                           </span>
                                           <span class="notification-icon bg-gradient-primary">
                                               <i class="icon-feather-thumbs-up"></i></span>
                                           <span class="notification-text">
                                               <strong>Adrian Moh.</strong> Like Your Comment On Video
                                               <span class="text-primary">Learn Prototype Faster</span>
                                               <br> <span class="time-ago"> 9 hours ago </span>
                                           </span>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-3.jpg" alt="">
                                           </span>
                                           <span class="notification-icon bg-gradient-danger">
                                               <i class="icon-feather-star"></i></span>
                                           <span class="notification-text">
                                               <strong>Alex Dolgove</strong> Added New Review In Video
                                               <span class="text-primary">Full Stack PHP Developer</span>
                                               <br> <span class="time-ago"> 19 hours ago </span>
                                           </span>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-4.jpg" alt="">
                                           </span>
                                           <span class="notification-icon bg-gradient-success">
                                               <i class="icon-feather-message-circle"></i></span>
                                           <span class="notification-text">
                                               <strong>Stella John</strong> Replay Your Comment in
                                               <span class="text-primary">Adobe XD Tutorial</span>
                                               <br> <span class="time-ago"> 12 hours ago </span>
                                           </span>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-2.jpg" alt="">
                                           </span>
                                           <span class="notification-icon bg-gradient-primary">
                                               <i class="icon-feather-thumbs-up"></i></span>
                                           <span class="notification-text">
                                               <strong>Adrian Moh.</strong> Like Your Comment On Video
                                               <span class="text-primary">Learn Prototype Faster</span>
                                               <br> <span class="time-ago"> 9 hours ago </span>
                                           </span>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-3.jpg" alt="">
                                           </span>
                                           <span class="notification-icon bg-gradient-warning">
                                               <i class="icon-feather-star"></i></span>
                                           <span class="notification-text">
                                               <strong>Alex Dolgove</strong> Added New Review In Video
                                               <span class="text-primary">Full Stack PHP Developer</span>
                                               <br> <span class="time-ago"> 19 hours ago </span>
                                           </span>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <span class="notification-avatar">
                                               <img src="http://localhost:8080/assets/images/avatars/avatar-4.jpg" alt="">
                                           </span>
                                           <span class="notification-icon bg-gradient-success">
                                               <i class="icon-feather-message-circle"></i></span>
                                           <span class="notification-text">
                                               <strong>Stella John</strong> Replay Your Comment in
                                               <span class="text-primary">Adobe XD Tutorial</span>
                                               <br> <span class="time-ago"> 12 hours ago </span>
                                           </span>
                                       </a>
                                   </li>
                               </ul>

                           </div>


                       </div>


                       <!-- profile -image -->
                       <a class="opts_account" th:href="${bloggerPath}"> <img th:src= "${bloggerAvatar}" alt=""></a>

                       <!-- profile dropdown-->
                       <div uk-dropdown="mode:click ; animation: uk-animation-slide-bottom-small"
                            class="dropdown-notifications rounded display-hidden">

                           <!-- User Name / Avatar -->
                           <!-- User Name / Avatar -->
                           <a href="">

                               <div class="dropdown-user-details">

                                   <div class="dropdown-user-cover">
                                       <img th:src="${bloggerAvatar}" alt="">
                                   </div>
                                   <div class="dropdown-user-avatar">
                                       <img th:src="${bloggerAvatar}" alt="">
                                   </div>
                                   <div class="dropdown-user-name" th:text = "${username}">  </div>
                               </div>

                           </a>

                           <ul class="dropdown-user-menu" th:hidden = "${hiddenLogout}">
                               <li><a href="/writing"> <i class="fas fa-rocket"></i> 创作博客 </a> </li>
                               <!-- <li><a href="#"> <i class="fas fa-rocket"></i> Boost Pages </a> </li> -->
                               <li><a th:href="${spacePath}"> <i class="fas fa-bullhorn"></i> 个人空间 </a></li>
                               <!-- <li><a href="#"> <i class="fas fa-user-edit"></i> General Settings</a></li> -->
                               <li><a href="/userinfo"> <i class="fas fa-user-cog"></i> 个人资料</a></li>
                               </li>
                               <!-- <li><a href="form-login.html"> <i class="fas fa-sign-out-alt"></i>Log Out</a> -->
                               </li>
                           </ul>

                           <hr class="m-0">
                           <ul class="dropdown-user-menu">
                               <li th:hidden = "${hiddenLogout}"><a href="/tologout" class="bg-secondery"> <i class="uil-bolt"></i>
                                   <div th:hidden = "${hiddenLogout}"> 退出登录
                                       <!-- <span> Pro features give you complete control </span> -->
                                   </div>
                                   <div th:hidden = "${hiddenLogin}"> 登录
                                       <!-- <span> Pro features give you complete control </span> -->
                                   </div>
                               </a>
                               </li>
                           </ul>

                       </div>


                   </div>

               </div> <!-- / heaader-innr -->
           </header>

       </div>

            <div class="main_content_inner">
 

                <br>
                <!--搜索框-->
<!--                搜索框-->
<!--                <div class="container">-->
<!--                    <form autocomplete="off">-->
<!--                        <div class="finder">-->
<!--                            <div class="finder__outer">-->
<!--                                <div class="finder__inner">-->
<!--                                    <div class="finder__icon" ref="icon"></div>-->
<!--                                    <input class="finder__input" type="text" name="q" />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->

<!--                <script type="text/javascript">-->
<!--                    const input = document.querySelector(".finder__input");-->
<!--                    const finder = document.querySelector(".finder");-->
<!--                    const form = document.querySelector("form");-->

<!--                    input.addEventListener("focus", () => {-->
<!--                        finder.classList.add("active");-->
<!--                    });-->

<!--                    input.addEventListener("blur", () => {-->
<!--                        if (input.value.length === 0) {-->
<!--                            finder.classList.remove("active");-->
<!--                        }-->
<!--                    });-->

<!--                    form.addEventListener("submit", (ev) => {-->
<!--                        ev.preventDefault();-->
<!--                        finder.classList.add("processing");-->
<!--                        finder.classList.remove("active");-->
<!--                        input.disabled = true;-->
<!--                        setTimeout(() => {-->
<!--                            finder.classList.remove("processing");-->
<!--                            input.disabled = false;-->
<!--                            if (input.value.length > 0) {-->
<!--                                finder.classList.add("active");-->
<!--                            }-->
<!--                        }, 1000);-->
<!--                    });-->

<!--                </script>-->


                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
<!--                另一个搜索框-->
                <form action="/search">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
                <div class="search__box">

                    <input class="search__txt" type="text" name="keyword" placeholder="Type to search">
                    <button class="search__btn" href="/search">
                        <i class="fas fa-search"></i>
                    </button>

                </div>
                </form>
<!--                另一个搜索框-->

<!--                    <div class="uk-flex uk-flex-between uk-flex-middle mb-4">-->
<!--                        <ul class="uk-width-expand" uk-tab>-->
<!--                            <li class="uk-active"><a href="#">   Suggestions   </a></li>-->
<!--                            <li><a href="#">  Newest </a></li>-->
<!--                            <li class="uk-visible@s"><a href="#"> My Funds </a></li>-->
<!--                        </ul>-->
<!--                        <a href="#" class="button primary small circle uk-visible@s"> <i class="uil-plus"> </i>-->
<!--                            Create New Fund </a>-->
<!--    -->
<!--                    </div>-->
                    <!-- funding   -->
                <div class="load-more">
                    <button class="btn button" onclick="searchTheBlogs()">Load more Results</button>
                </div>
                    <div class="uk-child-width-1-3@m k-child-width-1-2@s uk-grid-small" uk-grid >
                        <a id = "final">

                        </a>
                    </div>



                     
                    
            </div>

        </div>

        <!-- Chat sidebar -->
        <a class="chat-plus-btn" href="#sidebar-chat" uk-toggle>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path>
            </svg>
            <!--  Chat -->
        </a>
        <div id="sidebar-chat" class="sidebar-chat px-3" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar">

                <div class="sidebar-chat-head mb-2">

                    <div class="btn-actions">
                        <a href="#" uk-tooltip="title: Search ;offset:7"
                            uk-toggle="target: .sidebar-chat-search; animation: uk-animation-slide-top-small"> <i
                                class="icon-feather-search"></i> </a>
                        <a href="#" uk-tooltip="title: settings ;offset:7"> <i class="icon-feather-settings"></i> </a>
                        <a href="#"> <i class="uil-ellipsis-v"></i> </a>
                        <a href="#" class="uk-hidden@s"> <button class="uk-offcanvas-close uk-close" type="button"
                                uk-close> </button> </a>
                    </div>

                    <h2> Chats </h2>
                </div>

                <div class="sidebar-chat-search" hidden>
                    <input type="text" class="uk-input" placeholder="Search in Messages">
                    <span class="btn-close"
                        uk-toggle="target: .sidebar-chat-search; animation: uk-animation-slide-top-small"> <i
                            class="icon-feather-x"></i> </span>
                </div>

                <ul class="uk-child-width-expand sidebar-chat-tabs" uk-tab>
                    <li class="uk-active"><a href="#">Users</a></li>
                    <li><a href="#">Groups</a></li>
                </ul>

                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-2.jpg" alt="">
                            <span class="online-dot"></span> </div>
                        <h5> Dennis Han</h5>
                    </div>
                </a>

                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-1.jpg" alt="">
                            <span class="online-dot"></span> </div>
                        <h5> Erica Jones </h5>
                    </div>
                </a>

                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-7.jpg" alt="">
                            <span class="offline-dot"></span> </div>
                        <h5> Stella Johnson </h5>
                    </div>
                </a>

                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-5.jpg" alt="">
                            <span class="offline-dot"></span> </div>
                        <h5> Alex Dolgove </h5>
                    </div>
                </a>
                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-2.jpg" alt="">
                            <span class="online-dot"></span> </div>
                        <h5> Dennis Han</h5>
                    </div>
                </a>
                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-4.jpg" alt="">
                            <span class="online-dot"></span> </div>
                        <h5> Erica Jones </h5>
                    </div>
                </a>
                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-3.jpg" alt="">
                            <span class="offline-dot"></span> </div>
                        <h5> Stella Johnson </h5>
                    </div>
                </a>
                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-5.jpg" alt="">
                            <span class="offline-dot"></span> </div>
                        <h5> Alex Dolgove </h5>
                    </div>
                </a>
                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-2.jpg" alt="">
                            <span class="online-dot"></span> </div>
                        <h5> Dennis Han</h5>
                    </div>
                </a>
                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-4.jpg" alt="">
                            <span class="online-dot"></span> </div>
                        <h5> Erica Jones </h5>
                    </div>
                </a>
                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-3.jpg" alt="">
                            <span class="offline-dot"></span> </div>
                        <h5> Stella Johnson </h5>
                    </div>
                </a>
                <a href="#">
                    <div class="contact-list">
                        <div class="contact-list-media"> <img src="http://localhost:8080/assets/images/avatars/avatar-5.jpg" alt="">
                            <span class="offline-dot"></span> </div>
                        <h5> Alex Dolgove </h5>
                    </div>
                </a>



            </div>
        </div>

    </div>

     

     <!-- javaScripts
    ================================================== -->
    <script src="http://localhost:8080/assets/js/uikit.js"></script>
    <script src="http://localhost:8080/assets/js/simplebar.js"></script>
        <script src="http://localhost:8080/assets/js/myJs.js"></script>
<!--    <script src="http://localhost:8080/assets/js/searchOnScroll.js"></script>-->
    

</body>

</html>