<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Blog Test</title>
</head>
<body>
    <h1 th:text="${blog.blogTitle}">Hello World</h1>
    <h1 th:text="${blog.blogContent}">Hello World</h1>
    <h1 th:text="${blog.createTime}">Hello World</h1>
    <h1 th:text="${blog.clickNum}">Hello World</h1>
    <h1 th:text="${blog.likesNum}">Hello World</h1>
    <h1 th:text="${blog.commentNum}">Hello World</h1>
    <h1 th:text="${blog.forwardNum}">Hello World</h1>
    <h1 th:text="${blog.collectNum}">Hello World</h1>
    <h1 th:text="${blog.userId}">Hello World</h1>
    <h1 th:text="${blog.tagId}">Hello World</h1>
</body>
</html>