<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.BlogDetailsMapper">
    <select id="showBlogPart" resultType="com.example.demo.entity.BlogInfoVo">
        SELECT `bogInfo`.blogContent blogContent, `bogInfo`.createTime createTime, `bogInfo`.collectNum collectNum, `bogInfo`.likesNum likesNum,
            `bogInfo`.commentNum commentNum, `bogInfo`.forwardNum forwardNum, `User`.username username,  `User`.avatar avatar
        FROM bogInfo, `User`
        WHERE `bogInfo`.blogId = #{blogId} AND
            `bogInfo`.userId = `User`.userId;
    </select>

    <select id="showBlogComment" resultType="com.example.demo.entity.BlogCommentVo">
        SELECT `User`.username, `User`.avatar, `blogComment`.createTime, `blogComment`.commentContent
        FROM `User`, `blogComment`
        WHERE `blogComment`.blogId = #{blogId} AND
            `blogComment`.userId = `User`.userId;
    </select>
</mapper>