<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.HomeMapper">
    <select id="getBlogs" resultType="com.example.demo.entity.Blog">
        select * from blogInfo
    </select>
    <select id="changeCategory" parameterType="Integer" resultType="com.example.demo.entity.Blog">
        select blogTitle, blogContent, createTime, clickNum, likesNum, userId, tagId
        from blogInfo, tagBlogInfo
        where blogInfo.blogId = tagBlogInfo.blogId and typeId = #{typeId}
    </select>
    <select id="searchBlogs" parameterType="String" resultType="com.example.demo.entity.Blog">
        select blogTitle, blogContent, createTime, clickNum, likesNum, userId, tagId
        from blogInfo, tagBlogInfo, blogTag
        where blogInfo.blogId = tagBlogInfo.blogId and tagBlogInfo.tagId = blogTag.tagId and
              blogTitle = #{keyword} or tagName = #{keyword}
    </select>
</mapper>
