<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.HomeMapper">
    <select id="tagToBlogs" resultType="com.example.demo.entity.BlogInfo">
        SELECT blogInfo.blogTitle, blogInfo.blogContent, blogInfo.createTime,
            blogInfo.clickNum, blogInfo.likesNum, blogInfo.userId
        FROM blogInfo, blogTag, tagBlogInfo
        WHERE blogTag.tagName = #{tagName}
            AND blogTag.tagId = tagBlogInfo.tagId
            AND tagBlogInfo.blogId = blogInfo.blogId;
    </select>

    <select id="searchBlogs" resultType="com.example.demo.entity.BlogInfo">
        SELECT blogInfo.blogId,blogInfo.blogTitle, blogInfo.blogContent, blogInfo.createTime,
            blogInfo.clickNum, blogInfo.likesNum, blogInfo.userId, blogInfo.tagId

        FROM blogInfo, blogTag, tagBlogInfo
        WHERE blogInfo.blogTitle LIKE "%"#{keyword}"%"
            OR (blogTag.tagName LIKE  "%"#{keyword}"%"
                AND blogTag.tagId = tagBlogInfo.tagId
                AND tagBlogInfo.blogId = blogInfo.blogId);
    </select>

<!--    <select id="searchBlogs" resultType="com.example.demo.entity.view.HomeBlogView">-->
<!--        SELECT blogInfo.blogId, username, blogInfo.blogTitle, blogInfo.blogContent, blogInfo.createTime, blogInfo.clickNum, blogInfo.likesNum, commentNum, forwardNum, collectNum-->
<!--        FROM blogInfo, blogTag, tagBlogInfo,User-->
<!--        WHERE blogInfo.blogTitle LIKE "%"#{keyword}"%"-->
<!--            OR (blogTag.tagName LIKE  "%"#{keyword}"%"-->
<!--                AND blogTag.tagId = tagBlogInfo.tagId-->
<!--                AND blogInfo.userId = User.userId-->
<!--                AND tagBlogInfo.blogId = blogInfo.blogId);-->
<!--    </select>-->

    <select id="showHotBlogger" resultType="com.example.demo.entity.User">
        SELECT `User`.username, `User`.avatar ,`User`.userId
        FROM `User` ORDER BY `User`.likesNum DESC limit 6;
    </select>


    <select id="showRecommendBlogger" resultType="com.example.demo.entity.User">
        SELECT `User`.username, `User`.avatar,`User`.userId
        FROM `User`, userLike
        WHERE userLike.fansId = #{userId}
            AND userLike.userId = `User`.userId
        ORDER BY `User`.likesNum DESC limit 6;
    </select>

    <select id="getBlogs" resultType="com.example.demo.entity.BlogInfo">
        SELECT blogInfo.blogTitle, blogInfo.blogContent, blogInfo.createTime,
            blogInfo.clickNum, blogInfo.likesNum, blogInfo.userId, blogInfo.tagId
        FROM blogInfo
        ORDER BY `blogInfo`.clickNum DESC limit 10;
    </select>



    <select id="getCommentViews" resultType="com.example.demo.entity.view.CommentView">
        SELECT username, commentContent FROM blogComment, User
        WHERE blogId = #{blogId} And blogComment.userId = User.userId
        ORDER BY commentId DESC limit 3;
    </select>

    <select id="getBlogViews" resultType="com.example.demo.entity.view.HomeBlogView">
        SELECT blogId, `User`.userId,username, blogTitle, blogContent, createTime, clickNum, blogInfo.likesNum, commentNum, forwardNum, collectNum
        FROM blogInfo, `User`
        WHERE blogInfo.userId = User.userId
        ORDER BY likesNum DESC limit 10;
    </select>

    <select id="getRecommendBlogViews" resultType="com.example.demo.entity.view.HomeBlogView">
        SELECT blogId,`User`.userId,username, blogTitle, blogContent, createTime, clickNum, blogInfo.likesNum, commentNum, forwardNum, collectNum
        FROM blogInfo, `User`, tagBlogInfo
        WHERE blogInfo.userId = User.userId AND tagBlogInfo.tagId = #{tagId} AND blogInfo.blogId = tagBlogInfo.blogId
        ORDER BY likesNum DESC limit 5;
    </select>

    <select id="getTagMark" resultType="com.example.demo.entity.TagMark">
        SELECT tagId1, tagId2, tagId3, tagId4, tagId5
        FROM TagMark
        WHERE userId = #{userId}
    </select>
</mapper>
