<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.RegisterMapper">
    <insert id="addUser">
        INSERT INTO `User`(username, password, userRegisterTime, avatar, background)
        VALUES(#{username}, #{password}, #{userRegisterTime}, #{defaultAvatar}, #{defaultBackground})
    </insert>

    <select id="userExist" resultType="String">
        SELECT `User`.username
        FROM `User`
        WHERE `User`.username = #{username};
    </select>
</mapper>