<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserFansMapper">

    <select id="getfansid" resultType="Integer">
        SELECT `userLike`.fansId
        FROM `userLike`
        WHERE `userLike`.userId = #{userID};
    </select>

</mapper>